body {
  margin: 0;
}
a {
  text-underline-offset: 0.1em;
  text-decoration: underline max(1px, 0.0625rem);
}
/* UTILITY */
.container {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.width-sm {
  max-width: 20rem;
}

.width-lg {
  max-width: 60rem;
}

.width-full {
  max-width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
.block{
  display: block;
}
.p-5 {
  padding: 5rem;
}

.display-1 {
  font-size: 4.5rem;
}

@media (min-width: 768px) {
  .display-1 {
    font-size: 6rem;
  }
}
@media (min-width: 1440px) {
  .display-1 {
    font-size: 12rem;
  }
}

/* .UTILITY */
/* NAV */
nav a {
  margin: 0px 0.5rem;
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bolder;
}
 nav a:visited {
  color: white;

}
nav a:hover{
  text-decoration: underline max(1px, 0.0625rem);
  text-underline-offset: 0.1em;
  text-decoration-thickness: 2px;
}
.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}
.main-nav > div > ul{
  display: flex;
  /* flex-grow: 1; */
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-nav > div > ul li{
margin: 0 .5rem;
}
.main-nav > div > ul li a{
  padding: 0.25rem 0.5rem;
}
.main-nav svg{
  width: 5em;
  height: 5em;
  fill: currentColor;
}
.secondary-nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}
.secondary-nav > div > ul > * + *{
  margin-top: 0.5rem;
}
/* .NAV */
/* HEADER */
.white {
  color: white;
}
#heading{
  display: flex;
    flex-direction: column;
    justify-content: end;
    flex-wrap: wrap;
    height: 100vh;
}
.headline h1 {
  margin: 0;
}

.headline p {
  font-size: 1.5rem;
  max-width: 80%;
  margin: 2rem 0;
}


.headline {
  padding: 0 2rem;
  color: white;
}

.headline__body {
  /* display: flex;
  flex-direction: column;
  justify-content: end;
  flex-wrap: wrap; 
  height: 100vh;*/
}

.headline__image {
  top: 0;
  z-index: -1;
}
.headline__image img{
  /* height: 1400px; */
  object-fit: cover;
}
@media (min-width: 768px) {
  .headline p {
    font-size: 1.8rem;
    max-width: 60%;
    margin: 4rem 0;
  }
  .headline {
    padding: 0 3rem;
  }
}
@media (min-width: 1440px) {
  .headline p {
    max-width: 30%;
    margin: 5rem 0;
  }
  .headline {
    padding: 0 5rem;
  }
}
/* .HEADER */
